---
import LayoutDefault from '~/layouts/LayoutDefault.astro'
import EssayCard from '~/components/EssayCard.astro'
import Pagination from '~/components/Pagination.astro'
import { getEssays } from '~/utils'

const { translate: t } = Astro.locals

// 获取前10篇随笔用于首页显示
const essays = (await getEssays()).slice(0, 10)
const totalEssays = await getEssays()
const totalPages = Math.ceil(totalEssays.length / 10)
---

<LayoutDefault>
  <section contain-layout un-flex="~ col">
    {
      essays.map(async (essay) => {
        const { Content } = await essay.render()
        return (
          <EssayCard essay={essay}>
            <div class="prose prose-invert [&>p]:mb-0 [&>*]:text-gray-300 [&>*:last-child]:mb-0">
              <Content />
            </div>
          </EssayCard>
        )
      })
    }
    {totalPages > 1 && (
      <Pagination
        showLeft={false}
        showRight={true}
        rightTitle={t('next')}
        rightUrl={'essays/page/2'}
        currentPage={1}
        totalPage={totalPages}
        baseUrl="/essays/page/"
        showPageCount={false}
      />
    )}
  </section>
</LayoutDefault>

<style>
  /* 隐藏第一个随笔的上连线 */
  article:first-of-type .essay-line-top {
    display: none;
  }

  /* 隐藏最后一个随笔的下连线 */
  article:last-of-type .essay-line-bottom {
    display: none;
  }
</style>
